// bsdtar resources
#include "windows.h"
#include "version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION BSDTAR_MAJOR_VERSION, BSDTAR_MINOR_VERSION, BSDTAR_PATCH_VERSION, BSDTAR_BUILD_NUMBER
PRODUCTVERSION BSDTAR_MAJOR_VERSION, BSDTAR_MINOR_VERSION, BSDTAR_PATCH_VERSION, BSDTAR_BUILD_NUMBER
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000904b0"
BEGIN
VALUE "CompanyName", L"No company name"
VALUE "FileDescription", BSDATR_FILE_DESCRIPTION
VALUE "FileVersion", BSDTAR_VERSION_FULL
VALUE "InternalName", L"bsdtar.exe"
VALUE "LegalCopyright", BSDTAR_COPYRIGHT
VALUE "OriginalFilename", L"bsdtar.exe"
VALUE "ProductName", L"bsdtar archive tool"
VALUE "ProductVersion", BSDTAR_VERSION_FULL
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x9, 1200
END
END
