// uincia resources
#include "windows.h"
#include "revision.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION UNCIA_VERSION_MAJOR, UNCIA_VERSION_MINOR, UNCIA_VERSION_PATCH, UNCIA_VERSION_BUILD
PRODUCTVERSION UNCIA_VERSION_MAJOR, UNCIA_VERSION_MINOR, UNCIA_VERSION_PATCH, UNCIA_VERSION_BUILD
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000904b0"
BEGIN
VALUE "CompanyName", L"Baulk Contributors"
VALUE "FileDescription", L"Uncia - Simple archive extraction tool"
VALUE "FileVersion", UNCIA_VERSION
VALUE "InternalName", L"uncia.exe"
VALUE "LegalCopyright", UNCIA_COPYRIGHT
VALUE "OriginalFilename", L"uncia.exe"
VALUE "ProductName", L"Uncia - Simple archive extraction tool"
VALUE "ProductVersion", UNCIA_VERSION
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x9, 1200
END
END
